header {
    margin-top: -10px;
    margin-left: -10px;
    width: 96vw;;
    height: 20%;
    background-color: hsl(50, 84%, 55%); 
}

* {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
}

header>div {
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    height: 15px;
    background-color: white;
}

.block {
    margin: 15px;
    width: 19vw;  
    height: 300px;
    padding: 10px;
    border: 2px solid #000000;
    float: left;
}

section {
    margin-top: 10px;
    margin-left: -10px;
    overflow: hidden;
    width: 96vw;
}

.finish_block {
    height: 50px;
    width: 96vw;
    margin-left: -10px;
    background-color: hsl(50, 84%, 55%);
}

#second { background-color: rgb(40, 101, 255); }

#third,#fifth {  background-color: rgb(248, 72, 29); }