*
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    padding: 5px;
    margin: 3px;
}
section
{
    background-color: rgb(252, 244, 227);
    margin: 20px 0px;
}
#task
{
    width: 10%;
}
.array
{
    width: 100%;
    height: 30px;
}
.input_array
{
    width: 95%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.output_array
{
    width: 95%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.output_array>.array
{
    width: 60%;
}
fieldset
{
    width: 95%;
}
.button
{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 169, 169);
    background-color: rgb(71, 58, 255);
    max-width: 10%;
}
.button:hover
{
    color: blue;
    background-color: rgb(167, 236, 236);
    border-radius: 5px;
}
fieldset>.button
{
    margin-left: 43%;
}